<script context="module">
    export async function preload(page, session) {
        const res = await this.fetch(`/client_status.json`)
        if (res.status === 200) {
            const status = await res.json()
            return { status }
        }
        this.error(res.status, await res.text())
    }
</script>

<script>
    import Nav from '../components/Nav.svelte'

    export let segment
    export let status
</script>

<style>
    main {
        position: relative;
        max-width: 56em;
        background-color: white;
        padding: 2em;
        margin: 0 auto;
        box-sizing: border-box;
    }
</style>

<Nav segment={segment} status={status} />

<main>
    <slot />
</main>
