<script context="module">
    export async function preload(page, session) {
        const res = await this.fetch(`/browse/recs.json`)
        if (res.status === 200) {
            const recs = await res.json()
            return { recs }
        }
        this.error(res.status, await res.text());
    }
</script>

<script>
    import ProfileCard from '../../components/ProfileCard.svelte'
    import MessageToUser from '../../components/MessageToUser.svelte'

    export let recs
    // export let lastMessage = {text:"This is an error", error: true}
    export let lastMessage = undefined
</script>

<!-- { JSON.stringify(recs.results) } -->

<div class="fixed">
    <MessageToUser message={lastMessage} />
</div>

{#if recs.results}
    {#each recs.results as rec}
        <ProfileCard profile={rec} on:message={(e) => lastMessage = e.detail}/>
    {/each}
    <!-- <ProfileCard profile={recs.results[0]} on:message={(e) => lastMessage = e.detail}/> -->
{:else}
    <p>No res => no client</p>
{/if}
