<script context="module">
    export async function preload(page, session) {
        const id = page.params.id
        const url = `/profile/${id}.json`
        const res = await this.fetch(url)

        if (!res.ok) {
            return this.error(res.status, `Error loading profile :(\n${await res.text()}`)
        }

        let profile = await res.text()
        let jsonDecodeError
        try {
            profile = JSON.parse(profile)
        } catch (err) {
            jsonDecodeError = true
        }
        if (!jsonDecodeError) {
            profile = profile.results
        }
        return { profile, jsonDecodeError, url }
    }
</script>

<script>
    import MessageToUser from '../../components/MessageToUser.svelte'
    import ProfileCard from '../../components/ProfileCard.svelte'

    export let lastMessage
    export let profile
    export let jsonDecodeError
    export let url
</script>

{#if jsonDecodeError}
    Error decoding json from <a href="{url}">{url}</a>:<br>{profile}
{/if}

{#if !jsonDecodeError}
    <MessageToUser message={lastMessage} />

    <ProfileCard {profile} on:message={(e) => lastMessage = e.detail} />
{/if}

