<script>
    import { goto } from '@sapper/app'
    let profileId = ''
</script>

<form on:submit|preventDefault={() => goto(`/profile/${profileId}`)}>
    <label for="profileId">Token:</label>
    <input bind:value={profileId} placeholder="ID" required />
    <input type="submit" value="ok" />
</form>
