<script>
  import { onMount } from "svelte"
  import PickAPlace from "svelte-pick-a-place"
  import Spinner from 'svelte-spinner'

  let leaflet
  let lat, lon
  let updating = false
  let updated = false

  onMount(async () => {
    leaflet = (await import("leaflet")).default
  })

  async function save(coordsObj) {
    let receivedLoc = coordsObj.detail.geometry.coordinates.map(e => e.toFixed(5))
    receivedLoc = receivedLoc.reverse()
    updating = true
    const res = await fetch(`/location/set?loc=${receivedLoc.join(',')}`)
    if (res.ok) {
      updating = false
      lat = receivedLoc[0]
      lon = receivedLoc[1]
      return
    }
    alert(`Error: ${await res.text()}`)
  }

</script>

<style>
  .pick-a-place-wrapper {
    width: 100%;
    height: 800px;
  }
</style>

<svelte:head>
  <title>Sapper project template</title>
</svelte:head>

<div class="pick-a-place-wrapper" style="height:550px">
  {#if ! updating}
    {#if lat}
      <p>Current location: {[lat, lon].join(', ')}</p>
    {/if}
    {#if leaflet != null}
      <PickAPlace {leaflet} guideOverlay={false} lat=48.8595 lng=2.3497 zoom=7 on:save={(coordsObj) => save(coordsObj)} />
    {/if}
  {/if}
  {#if updating}
    <Spinner size="100" speed="900" color="#7AD2EE" thickness="2.5" gap="40" />
  {/if}
</div>