<script>
    import JSONTree from 'svelte-json-tree'
    import 'file-saver'
    import { SaveIcon } from 'svelte-feather-icons'

    export let json
    export let filename

    function download() {
        var blob = new Blob([JSON.stringify(json, null, ' ')], {
            type: 'text/json;charset=utf-8',
        })
        saveAs(blob, filename)
    }
</script>

{#if json}
    <div class="m-1 bg bg-gray-300 p-1">
        <JSONTree value={json}/>
        <div style="position: relative; width: 20px; height: 20px"><button on:click={download}><SaveIcon/></button></div>
    </div>
{/if}
