<script>
    import { onMount } from 'svelte'

    export let thread
    let self_id
    let messages

    onMount(async () => {
        self_id = get_self_id(thread)
        messages = thread.messages
	});

    function get_self_id(t) {
        // thread id is composed of self_id concatenated with match_id; 24 chars each
        return t._id.substring(0, 24)
    }
</script>

{#if messages}
    <div class="border rounded-lg my-4 bg-blue-200 p-3 text-sm">
        {#if messages.length == 0}
            no messages !
        {:else}
            <ul>
                {#each messages as message}
                    <li>
                        <span class="text-gray-500 text-xs">{message.sent_date}</span>
                        <span class={message.from.startsWith(self_id) ? "text-blue-700" : "text-pink-800"}>
                            {message.message}
                        </span>
                    </li>
                {/each}
            </ul>
        {/if}
    </div>
{/if}
