<script>
	import { fade } from 'svelte/transition';

    export let message
</script>

{#if message}
    <div transition:fade="{{ duration: 100 }}" on:introend="{() => (!message.error) && setTimeout(() => {message = undefined}, 1000)}"
        class="border-2 w-full {message.error ? 'border-red-500 bg-red-100' : 'bg-green-100'} rounded-lg py-2 px-4 mb-6 z-50">
        <div>
            {message.text}
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Antu_close.svg" alt="close" class="w-5 inline ml-3" on:click={() => {message=undefined}} />
        </div>
    </div>
{/if}
