<script>
	export let segment;
	export let status;
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>

{#if status.samples_mode}
	<div class="bg-red-300 text-red-800 p-5">SAMPLES MODE</div>
{/if}

<nav>
	<ul>
		<li><a class='{segment === undefined ? "selected" : ""}' href='.'>home</a></li>
		<!-- <li><a class='{segment === "messages" ? "selected" : ""}' href='messages'>msg</a></li> -->
		<li><a class='{segment === "browse" ? "selected" : ""}' href='browse'>browse</a></li>
		<li><a class='{segment === "location" ? "selected" : ""}' href='location'>location</a></li>
		<li><a class='{segment === "profile" ? "selected" : ""}' href='profile'>profile</a></li>
		<li><a class='{segment === "updates" ? "selected" : ""}' href='updates'>updates</a></li>
	</ul>
</nav>