<script>
    export let photoUrls  // Returned by API and contains "processedFiles" field
    export let minHeight = 150

    function find_photo_to_display(photos, min_size) {
        // Find and return the "good" url of photo to display; ie that is >= min_size height
        for (var photo of photos.sort((a,b) => a.height > b.height)) {
            if (photo.height >= min_size) {
                return photo.url
            }
        }
    }
</script>

<img style="max-width: 100%; max-height: 100%; margin: auto" alt src={find_photo_to_display(photoUrls.processedFiles, minHeight)} />