<script>
    import { goto } from '@sapper/app'

    let token = ''
    let result
    async function postToken() {
        result = await fetch(`/set_token?token=${token}`, {
            method: 'POST',
        }).then(r => r.text())
        if (result == 'OK') {
            goto('/')
        }
    }
</script>

<form on:submit|preventDefault={postToken}>
    <label for="token">Token:</label>
    <input bind:value={token} placeholder="Facebook token" required />
    <input type="submit" value="ok" />
</form>

<div>
    {#if result}Result: {result}{/if}
</div>
