@tailwind base;
@tailwind components;

input {
  border: solid 0.5px gray;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mini-btn {
  @apply text-xs bg-blue-500 text-white font-bold py-0 px-1 shadow-md rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 shadow-md rounded;
}
.btn-pink {
  @apply bg-pink-400 text-white font-bold py-2 px-4 shadow-md rounded;
}
.btn-gray {
  @apply bg-gray-400 text-white font-bold py-2 px-4 shadow-md rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-pink:hover {
  @apply bg-pink-700;
}
.btn-gray:hover {
  @apply bg-gray-700;
}

@tailwind utilities;
