<script context="module">
    export async function preload(page, session) {
        // get updates
        const url = '/get_updates'
        const res = await this.fetch(url)

        if (!res.ok) {
            return this.error(
                res.status,
                `Error loading updates :(\n${await res.text()}`
            )
        }

        let updates = await res.text()
        let jsonDecodeError
        try {
            updates = JSON.parse(updates)
        } catch (err) {
            jsonDecodeError = true
        }
        return { updates, jsonDecodeError, url }
    }
</script>

<script>
    import ProfileCard from '../../components/ProfileCard.svelte'
    import JsonExplorer from '../../components/JsonExplorer.svelte'
    import MessagesThread from '../../components/MessagesThread.svelte'
    import LikedContent from './liked_content.svelte'
    import JSONTree from 'svelte-json-tree'

    export let updates
    export let jsonDecodeError
    export let url
</script>

{#if jsonDecodeError}
    Error decoding json from <a href={url}>{url}</a> : <br /> {updates}
{/if}

{#if !jsonDecodeError}
    <!-- {JSON.stringify(updates)} -->
    <!-- {JSON.stringify(match)} -->
    <p>Inbox: {updates.inbox.length}</p>
    <p>Matches: {updates.matches.length}</p>
    <JsonExplorer json={updates} filename='updates.json' />
    <div>
        {#each updates.matches as match}
            {console.log(match._id)}
            {#if match.person}
                <ProfileCard profile={match.person} displayLikeButtons={false}>
                    <div class="btn btn-blue m-2 inline"><a href="/profile/{match._id.substr(24, 24)}" target="_blank">open profile</a></div><br/>
                    <div class="inline">
                        {#if match.liked_content}
                            {#if match.liked_content.by_opener}
                                <span class="text-teal-700">by_opener:</span>
                                <LikedContent
                                    liked_content={match.liked_content.by_opener} />
                            {/if}
                            {#if match.liked_content.by_closer}
                                <span class="text-pink-700">by_closer:</span>
                                <LikedContent
                                    liked_content={match.liked_content.by_closer} />
                            {/if}
                        {/if}
                    </div>
                    Messages:
                    <MessagesThread thread={match} />
                    Complete json:
                    <JSONTree value={match}/>
                </ProfileCard>
            {:else}
                <div class="border border-grey-300 relative shadow-md border-solid rounded-lg p-3 my-5">
                    <bold>not match.person</bold> <br />
                    <MessagesThread thread={match} />
                    {#if match._id}
                        <div class="btn btn-blue mb-1 inline"><a href="/profile/{match._id.substr(24, 24)}" target="_blank">open profile</a></div><br/>
                    {/if}
                    match: <JSONTree value={match}/>
                </div>
            {/if}
        {/each}
    </div>
{/if}
