<script>
    import Photo from '../../components/Photo.svelte'
    import JSONTree from 'svelte-json-tree';

    export let liked_content
</script>

{#if liked_content}
    {#if liked_content.photo}
        <div class="h-24">
            <Photo photoUrls={liked_content.photo} />
        </div>
    {/if}
    {#if ! liked_content.photo}
        no photo - <JSONTree value={liked_content} />
    {/if}
{/if}

